/* for desktop*/
.navbar-brand {
  color: #8177a6 !important;
  padding: 1rem 2rem;
  font-family: continuo;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}
.navbar {
  border-bottom: 5px solid #8177a6;
  margin-bottom: 3vh;
}
.bg-primary {
  background-color: white !important;
}

.nav-link {
  color: #8177a6 !important;
  font-size: 1.5rem;
}

.page-header {
  margin-top: 3vh;
  color: #8177a6;
  margin-bottom: 1vh;
}
.footer-box {
  margin-top: 7vh;
}
.card-footer {
  background-color: #8177a6 !important;
}

.footer-font-style {
  color: white;
}

.card-deck a {
  color: grey;
  font-style: none;
}
.big-text-area {
  height: 15vh;
}
.btn-primary {
  background-color: #8177a6;
  border-color: #8177a6;
  
}

/* for phones and tablets*/
@media only screen and (max-width: 1000px) {
  .bg-primary {
    background-color: #8177a6 !important;
    color: white;
  }

  .navbar-brand {
    color: white !important;
    padding: 0.5rem 0.5rem;
    font-family: continuo, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7rem;
  }
  .nav-link {
    color: white !important;
    font-size: 1rem;
  }
}
